{% extends "base.html" %}

{% block title %}
    Your Mailing Lists
{% endblock %}

{% block body %}
    <div class="row user-mailing-lists">
        <div class="col-sm-12">
            <h1>Mailing Lists</h1>
            <div class="mt-5">
                <a class="btn btn-outline-primary btn-sm" href="{% url "mailinglist:create_mailinglist" %}">New List</a>
            </div>
            <ul class="mailing-list-list mt-4">
                {% for mailinglist in mailinglist_list %}
                    <li class="mailinglist-item">
                        <a href="{% url "mailinglist:manage_mailinglist" pk=mailinglist.id %}">
                            {{ mailinglist.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}