{% extends "base.html" %}

{% block title %}
    {{ mailinglist.name }}: Management Panel
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Management Panel</h1>
            <h2 class="mt-4"><strong>{{ mailinglist.name }}</strong>
                <a class="btn btn-outline-danger btn-sm"
                   href="{% url "mailinglist:delete_mailinglist" pk=mailinglist.id %}">Delete</a>
            </h2>
            <div>
                <a href="{% url "mailinglist:subscribe" mailinglist_id=mailinglist.id %}">Subscription Link</a>
            </div>
            <hr>
            <h2 class="mt-3 mb-3">Messages</h2>
            <div class="mb-3"><a class="btn btn-outline-primary btn-sm"
                                 href="{% url "mailinglist:create_message" mailinglist_id=mailinglist.id %}">Send new
                Message</a>
            </div>
            <ul>
                {% for message in mailinglist.message_set.all %}
                    <li>
                        <a href="{% url "mailinglist:view_message" pk=message.id %}">{{ message.subject }}</a>
                    </li>
                {% endfor %}
            </ul>
            <hr>
            <h2>Subscribers</h2>
            <ul>
                {% for subscriber in mailinglist.subscriber_set.all %}
                    <li>
                        {{ subscriber.email }}
                        {{ subscriber.confirmed|yesno:"confirmed,unconfirmed" }}
                        <a href="{% url "mailinglist:unsubscribe" pk=subscriber.id %}">Unsubscribe</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
