{% extends "base.html" %}

{% block title %}
    Unsubscribe?
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                <p>
                    Are you sure you want to unsubscribe from
                    {{ subscriber.mailing_list.name }}?
                </p>
                <input class="btn btn-outline-danger btn-sm" type="submit" value="Yes, I want to unsubscribe">
            </form>
        </div>
    </div>
{% endblock %}