{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Unsubscribe from {{ subscriber.mailing_list }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h1>Unsubscribe from: <strong>{{ subscriber.mailing_list }}</strong></h1>
            <form method="POST" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-outline-primary btn-sm" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
